#bgColor{
    background: url("../pictures/brick1.jpg");
    width: auto;
    height: 1661px;
}
.title{
    color: black;
    text-align: center;
    margin-bottom: 5%;
    font-size: 20px;
    font-weight: bold;

}
#pieChart7Days{
    background-color: white;
    margin-top: 3%;
    box-shadow: 5px 5px 5px 5px ;
    width: 500px;
    height: 400px;
}
#ajustMonth{
    position: relative;
    margin-left: 50em;
    bottom: 28.6em;
    
}
#ajustYear{
    height: 200px;
}

@media screen and (min-width : 1100px){
    // #ajustMonth{
    
       
    // }
    #ajustYear{
        margin-left: 7%;
        
    }
 }
 @media screen and (max-width : 680px){
    #ajustMonth{
       width: 300px;
       height: 300px;
    }
    #ajustYear{
        width: 280px;
        height: 300px;
        margin-top: 5%;
    
     }
}
@media screen and (max-width : 400px){
    #pieChart7Days{
       width: 380px;
       height: 300px;
    }
}


@media screen and (max-width : 660px){
    #pieChart7Days{
       width: 640px;
       height: 400px;
    }
}




