.title{
    color: black;
    text-align: center;
    margin-bottom: 5%;
    font-size: 20px;
    font-weight: bold;

}
#PieChartMonth{
    background-color: white;
    box-shadow: 5px 5px 5px 5px;
    width: 500px;
    height: 400px;
}
@media screen and (max-width : 660px){
    #PieChartMonth{
        width: 650px;
        height: 400px;
        margin-top: 10%;
    }
}
@media screen and (max-width : 400px){
    #PieChartMonth{
        width: 350px;
        height: 350px;
        margin-top: 20%;
    }
}
@media screen and (max-width : 460px){
    #PieChartMonth{
        width: 450px;
        height: 350px;
        margin-top: 20%;
    }
}

