@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);




#cards{
	position: static;
	width: 230px;
	height: 300px;
	margin-bottom: 10px;
	margin-top: 2%;
	margin-left: 20px;
	border-radius: 10%;
	background:linear-gradient(#232526,#414345);
	box-shadow: 3px 4px 8px 6px rgba(4, 5, 75, 0.2), 0 6px 20px 0 rgba(49, 23, 23, 0.19);
	
	
}
#article_Title{
	padding-top: 5%;
	line-height: 30px;
	font-size: 18px;
	height: 60px;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: white;
}
#article_Date{
	text-align:center;
	color: lightslategray;
}
#date_center{
	text-align: center;
	margin-top: 70%;

	#group_Id{
		width: 180px;
	}
}
#group_Name{
	color: white;
	width: auto;
	height: 20px;
	margin-top: 5%;
}


#bg-dark{
	width: auto;
    height:auto;
	overflow: auto;
	background-image: url("../pictures/brick1.jpg");
}


@media screen and (max-width: 460px) {
	#cards {
	  margin-top: 5%;
	  margin-left: 17%;
	  
	}
	
  }
  @media screen and (max-width: 400px) {
	#cards {
		margin-top: 5%;
		margin-left: 17%;
		
	  }
	
  }
  @media screen and (max-width: 630px) {
	#cards {
		margin-top: 5%;
		margin-left: 24%;
		
	  }
	
  }
.badge{
	font-size: 15px;
	padding-top: 5px;
	margin: 3%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.input{
	border-radius: 20px;
}
#search3{
	margin-left: 3%;
	width: 170px;
	margin-top: 2%;
	border-radius: 20px;
	color: black;
	text-align: center;
}

#search4{
	margin-left: 3%;
	width: 170px;
	border-radius: 20px;
	color: black;
	text-align: center;
}
@media screen and (max-width: 420px) {
	#searchFeed{
		width: auto;
	}
	
  }