@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);



.cssload-tetrominos {
	position: absolute;
  left: 50%;
  top: 50%;
	transform: translate(-109px, -94px);
		-o-transform: translate(-109px, -94px);
		-ms-transform: translate(-109px, -94px);
		-webkit-transform: translate(-109px, -94px);
		-moz-transform: translate(-109px, -94px);
}

.cssload-tetromino {
	width: 94px;
	height: 109px;
	position: absolute;
	transition: all ease 0.35s;
		-o-transition: all ease 0.35s;
		-ms-transition: all ease 0.35s;
		-webkit-transition: all ease 0.35s;
		-moz-transition: all ease 0.35s;
	background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%23010101" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%23fff" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E') no-repeat top center;
}

.cssload-box1 {
	animation: cssload-tetromino1 1.73s ease-out infinite;
		-o-animation: cssload-tetromino1 1.73s ease-out infinite;
		-ms-animation: cssload-tetromino1 1.73s ease-out infinite;
		-webkit-animation: cssload-tetromino1 1.73s ease-out infinite;
		-moz-animation: cssload-tetromino1 1.73s ease-out infinite;
}

.cssload-box2 {
	animation: cssload-tetromino2 1.73s ease-out infinite;
		-o-animation: cssload-tetromino2 1.73s ease-out infinite;
		-ms-animation: cssload-tetromino2 1.73s ease-out infinite;
		-webkit-animation: cssload-tetromino2 1.73s ease-out infinite;
		-moz-animation: cssload-tetromino2 1.73s ease-out infinite;
}

.cssload-box3 {
	animation: cssload-tetromino3 1.73s ease-out infinite;
		-o-animation: cssload-tetromino3 1.73s ease-out infinite;
		-ms-animation: cssload-tetromino3 1.73s ease-out infinite;
		-webkit-animation: cssload-tetromino3 1.73s ease-out infinite;
		-moz-animation: cssload-tetromino3 1.73s ease-out infinite;
	z-index: 2;
}

.cssload-box4 {
	animation: cssload-tetromino4 1.73s ease-out infinite;
		-o-animation: cssload-tetromino4 1.73s ease-out infinite;
		-ms-animation: cssload-tetromino4 1.73s ease-out infinite;
		-webkit-animation: cssload-tetromino4 1.73s ease-out infinite;
		-moz-animation: cssload-tetromino4 1.73s ease-out infinite;
}









@keyframes cssload-tetromino1 {
	0%, 40% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(47px, -26px);
	}
	60%, 100% {
		transform: translate(94px, 0);
	}
}

@-o-keyframes cssload-tetromino1 {
	0%, 40% {
		-o-transform: translate(0, 0);
	}
	50% {
		-o-transform: translate(47px, -26px);
	}
	60%, 100% {
		-o-transform: translate(94px, 0);
	}
}

@-ms-keyframes cssload-tetromino1 {
	0%, 40% {
		-ms-transform: translate(0, 0);
	}
	50% {
		-ms-transform: translate(47px, -26px);
	}
	60%, 100% {
		-ms-transform: translate(94px, 0);
	}
}

@-webkit-keyframes cssload-tetromino1 {
	0%, 40% {
		-webkit-transform: translate(0, 0);
	}
	50% {
		-webkit-transform: translate(47px, -26px);
	}
	60%, 100% {
		-webkit-transform: translate(94px, 0);
	}
}

@-moz-keyframes cssload-tetromino1 {
	0%, 40% {
		-moz-transform: translate(0, 0);
	}
	50% {
		-moz-transform: translate(47px, -26px);
	}
	60%, 100% {
		-moz-transform: translate(94px, 0);
	}
}

@keyframes cssload-tetromino2 {
	0%, 20% {
		transform: translate(94px, 0px);
	}
	40%, 100% {
		transform: translate(140px, 26px);
	}
}

@-o-keyframes cssload-tetromino2 {
	0%, 20% {
		-o-transform: translate(94px, 0px);
	}
	40%, 100% {
		-o-transform: translate(140px, 26px);
	}
}

@-ms-keyframes cssload-tetromino2 {
	0%, 20% {
		-ms-transform: translate(94px, 0px);
	}
	40%, 100% {
		-ms-transform: translate(140px, 26px);
	}
}

@-webkit-keyframes cssload-tetromino2 {
	0%, 20% {
		-webkit-transform: translate(94px, 0px);
	}
	40%, 100% {
		-webkit-transform: translate(140px, 26px);
	}
}

@-moz-keyframes cssload-tetromino2 {
	0%, 20% {
		-moz-transform: translate(94px, 0px);
	}
	40%, 100% {
		-moz-transform: translate(140px, 26px);
	}
}

@keyframes cssload-tetromino3 {
	0% {
		transform: translate(140px, 26px);
	}
	20%, 60% {
		transform: translate(94px, 53px);
	}
	90%, 100% {
		transform: translate(47px, 26px);
	}
}

@-o-keyframes cssload-tetromino3 {
	0% {
		-o-transform: translate(140px, 26px);
	}
	20%, 60% {
		-o-transform: translate(94px, 53px);
	}
	90%, 100% {
		-o-transform: translate(47px, 26px);
	}
}

@-ms-keyframes cssload-tetromino3 {
	0% {
		-ms-transform: translate(140px, 26px);
	}
	20%, 60% {
		-ms-transform: translate(94px, 53px);
	}
	90%, 100% {
		-ms-transform: translate(47px, 26px);
	}
}

@-webkit-keyframes cssload-tetromino3 {
	0% {
		-webkit-transform: translate(140px, 26px);
	}
	20%, 60% {
		-webkit-transform: translate(94px, 53px);
	}
	90%, 100% {
		-webkit-transform: translate(47px, 26px);
	}
}

@-moz-keyframes cssload-tetromino3 {
	0% {
		-moz-transform: translate(140px, 26px);
	}
	20%, 60% {
		-moz-transform: translate(94px, 53px);
	}
	90%, 100% {
		-moz-transform: translate(47px, 26px);
	}
}

@keyframes cssload-tetromino4 {
	0%, 60% {
		transform: translate(47px, 26px);
	}
	90%, 100% {
		transform: translate(0, 0);
	}
}

@-o-keyframes cssload-tetromino4 {
	0%, 60% {
		-o-transform: translate(47px, 26px);
	}
	90%, 100% {
		-o-transform: translate(0, 0);
	}
}

@-ms-keyframes cssload-tetromino4 {
	0%, 60% {
		-ms-transform: translate(47px, 26px);
	}
	90%, 100% {
		-ms-transform: translate(0, 0);
	}
}

@-webkit-keyframes cssload-tetromino4 {
	0%, 60% {
		-webkit-transform: translate(47px, 26px);
	}
	90%, 100% {
		-webkit-transform: translate(0, 0);
	}
}

@-moz-keyframes cssload-tetromino4 {
	0%, 60% {
		-moz-transform: translate(47px, 26px);
	}
	90%, 100% {
		-moz-transform: translate(0, 0);
	}
}

#cards{
	position: static;
	width: 230px;
	height: 300px;
	margin-bottom: 10px;
	margin-top: 2%;
	margin-left: 20px;
	border-radius: 10%;
	background: radial-gradient(circle, rgba(33,33,33,1) 69%, rgba(2,90,4,1) 100%);
	box-shadow: 3px 4px 8px 6px rgba(4, 5, 75, 0.2), 0 6px 20px 0 rgba(49, 23, 23, 0.19);
	
	
}
#article_Title{
	padding-top: 5%;
	line-height: 30px;
	font-size: 18px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: white;
}
#backgroundTitle{
	text-align: center;
	
}
#article_Date{
	text-align:center;
	color: lightslategray;
}
#groups{
	font-family: "Georgia, serif";
	font-size: 17px;
	color: white;
	text-align: center;
}
#group_Name{
	color: white;
	margin-top: 5%;
}
#group_Id{
	margin-top: 5%;
	
}

#group_Aliases{
	margin-top: 5%;
}
.navbar{
	background: linear-gradient(90deg, rgba(33,33,33,1) 0%, rgba(2,90,4,1) 49%, rgba(33,33,33,1) 100%);
	margin-bottom: 0;
	position: sticky;
	overflow: hidden;
	top: 0;
	z-index: 1;
}
.navbar-brand{
	position: absolute;
	top: 0%;
	font-size: x-large;
	margin-left: 45%;
	color: white;
}
#bg-dark{
	width: auto;
	height:auto;
	
	background-image: url("../pictures/black.jpg");
}


@media screen and (max-width: 460px) {
	#cards {
	  margin-top: 5%;
	  margin-left: 17%;
	  
	}
	.navbar-brand{
		margin-left: 250px;
		font-size: medium;
		position: absolute;
	}
	
  }
  @media screen and (max-width: 400px) {
	.navbar-brand{
		margin-left: 230px;
		font-size: x-small;
		position: absolute;
	}
	#cards {
		margin-top: 5%;
		margin-left: 17%;
		
	  }
	
  }
  @media screen and (max-width: 630px) {
	.navbar-brand{
		margin-left: 260px;
		font-size: medium;
		position: absolute;
	}
	#cards {
		margin-top: 5%;
		margin-left: 24%;
		
	  }
	
  }
.badge{
	font-size: 15px;
	padding-top: 5px;
	margin: 3%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.input{
	border-radius: 20px;
}

 
  .sidebar {
	position: fixed;
	left: -250px;
	width: 250px;
	height: 100%;
	background: linear-gradient(90deg, rgba(33,33,33,1) 0%, rgba(2,90,4,1) 49%, rgba(33,33,33,1) 100%);
	transition: all .5s ease;
	top: 0;
  }
  .sidebar header {
	font-size: 22px;
	color: white;
	line-height: 70px;
	text-align: center;
	background: linear-gradient(90deg, rgba(33,33,33,1) 0%, rgba(2,90,4,1) 49%, rgba(33,33,33,1) 100%);
	user-select: none;
  }
  .sidebar ul a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 65px;
	font-size: 20px;
	color: white;
	
	box-sizing: border-box;
	
	border-top: 1px solid rgba(255,255,255,.1);
	transition: .4s;
  }
  ul li:hover a{
	padding-left: 5px;
  }
  .sidebar ul a i{
	margin-right: 16px;
  }
  #check{
	display: none;
  }
  label #btn,label #cancel{
	position: absolute;
	background: linear-gradient(90deg, rgba(33,33,33,1) 0%, rgba(2,90,4,1) 49%, rgba(33,33,33,1) 100%);
	border-radius: 3px;
	cursor: pointer;
  }
  label #btn{
	left: 10px;
	position: absolute;
	top: 0;
	font-size: 35px;
	color: white;
	padding: 6px 12px;
	transition: all .5s;
  }
  label #cancel{
	z-index: 1111;
	left: -195px;
	top: 0px;
	margin-left: 13px;
	font-size: 30px;
	color: black;
	padding: 4px 9px;
	transition: all .5s ease;
  }
  #check:checked ~ .sidebar{
	left: 0;
  }
  #check:checked ~ label #btn{
	left: 250px;
	opacity: 0;
	pointer-events: none;
  }
  #check:checked ~ label #cancel{
	left: 195px;
  }
  #check:checked ~ section{
	margin-left: 250px;
  }
  section{
	background: black no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	transition: all .5s;
  }
  #search1{
	border-radius: 50px;
	width: 170px;
	position: absolute;
	margin-top: 10px;
	left: 100px;
    text-align: center;
    color: black;
  }
  #search2{
	border-radius: 50px;
	width: 170px;
	position: absolute;
	margin-top: 10px;
	left: 290px;
    text-align: center;
    color: black;
  }