.navbar{
	background:linear-gradient(#232526,#414345);
	position: sticky;
	top: 0;
	margin-bottom: 0;
	z-index: 1;
	overflow: hidden;
	height: 40px;
}
.navbar-brand{
	margin-left: 40%;
	color: white;
	font-size: x-large;
}
.links{
	position: absolute;
	width: 350px;
	height: 20px;
	display: flex;
	margin-left: 2%;
	margin-top: 10px;
	justify-content: space-between;
	font-size: 19px;
	a{
		width: 100px;
		color: white;
		justify-content: space-between;
		.fa-home{
			margin-right: 5%;
		}
		.fa-users{
			margin-right: 5%;
		}
		.fa-chart-pie{
			margin-right: 5%;
		}
	}
}