@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
.navbar{
	background:linear-gradient(#232526,#414345);
	position: sticky;
	top: 0;
	margin-bottom: 0;
	z-index: 1;
	overflow: hidden;
	height: 40px;
}
.navbar-brand{
	position: relative;
	margin-left: 40%;
	color: white;
	font-size: x-large;
	font-family: 'Fredericka the Great', cursive;
}
.links{
	position: absolute;
	width: 350px;
	height: 20px;
	display: flex;
	margin-left: 2%;
	margin-top: 10px;
	justify-content: space-between;
	font-size: 19px;
	a{	
		color: white;
		justify-content: space-between;
		svg{
			margin-right: 5px;
		}
	}
}
@media screen and (max-width: 920px) {
	.navbar-brand{
		font-size: medium;
		position: absolute;
		right: 2%;
	}
	.links{
		width: 270px;
		justify-content: space-between;
	}
	
  }
  @media screen and (max-width: 430px) {
	  .navbar{
		  height: 70px;
	  }
	.navbar-brand{
		font-size: medium;
		width: 200px;
		position: absolute;
		margin-right: 20%;
		top:0%;
	}
	.links{
		width: 330px;
		justify-content: space-between;
		right: 40px;
		top:40%;
	}
	
  }
  @media screen and (max-width: 370px) {
	.navbar{
		height: 80px;
	}
  .navbar-brand{
	  font-size: medium;
	  width: 200px;
	  position: absolute;
	  margin-right: 10%;
	  top: 0;
	  
  }
  .links{
	  width: 270px;
	  justify-content: space-between;
	  right: 30px;
	  top:40%;
  }
}