#bg-dark{
	width: auto;
	height: auto;
	overflow: auto;
	background-image: url("../pictures/black.jpg");
}

.lastScan{
border: 3px solid black;
margin-top: 25%;
}
.groupHeader{
	color: white;
	text-align: center;
}
#scroll_desc{
	overflow-y: auto;
	border: 3px solid black;
	#group_desc{
		
		height: 70px;
		overflow-y:auto;
	}
	#group_desk::-webkit-scrollbar {
		display: none;
	  }
}

#group_Names{
	font-size: x-large;
	line-height: 50px;
	border-bottom: 2px solid black;
	
}
.tooltip{
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}



#cards2{
	position: static;
	width: 230px;
	height: 300px;
	margin-bottom: 40px;
	margin-top: 3%;
	margin-left: 20px;
	border-radius: 10%;
	background:linear-gradient(#232526,#414345);
	box-shadow: 3px 4px 8px 6px rgba(4, 5, 75, 0.2), 0 6px 20px 0 rgba(49, 23, 23, 0.19);
	color: white;
	text-align: center;
	font-size: large;
	overflow-y: auto;
	
}
#cards2::-webkit-scrollbar {
	overflow-y: auto;
  }
#search1{
	margin-left: 3%;
	width: 200px;
	border-radius: 20px;
	color: black;
	text-align: center;
}

#search2{
	margin-left: 2%;
	width: 200px;
	border-radius: 20px;
	color: black;
	text-align: center;
}
#group_lastScan{
	margin-right: 3%;
	border-top: 2px solid black;
	border: 2px solid red;
}


  #group_Names{
	  color: white;
  }
  
  

  @media screen and (max-width: 460px) {
	#cards2 {
	  margin-top: 10%;
	  margin-left: 17%;
	  
	}
	.groupHeader{
		margin-top: 20%;
	}
	#search2{
		top: 15%;
	}
	
  }
  @media screen and (max-width: 400px) {
	#cards2 {
		margin-top: 5%;
		margin-left: 17%;
	  }
	
  }
  @media screen and (max-width: 630px) {
	
	#cards2 {
		margin-top: 15%;
		align-items: center;
		
	  }
	.groupHeader{
		margin-top: 25%;
		margin-right: 5%;
	}
	
  }
 



