#bg-dark{
	width: auto;
	height: auto;
	overflow: auto;
	background-image: url("../pictures/black.jpg");
}
#scroll_alias{
	border-top:3px dotted black;
	text-align: center;
	margin-top: 15%;
	width: 195px;
	#group_aliases{
		width: 80%;
		margin-left: 15px;
		text-align: justify;
		white-space: break-spaces;
		text-align: center;
		margin-top: 5%;
		font-size: 15px;
	}
}

.lastScan{
margin-top: 20%;
}
.groupHeader{
	color: white;
	text-align: center;
}
#scroll_desc{
	margin-top: 10%;
	overflow-y: auto;
	#group_desc{	
		height: 120px;
		overflow-y:auto;
	}
	#group_desc::-webkit-scrollbar {
		display: none;
	  }
}


#group_Names{
	font-size: x-large;
	line-height: 50px;
	border-bottom: 2px solid black;
	
}

#cards2{
	position: static;
	width: 230px;
	height: 300px;
	margin-bottom: 40px;
	margin-top: 3%;
	margin-left: 20px;
	border-radius: 10%;
	background:linear-gradient(#232526,#414345);
	box-shadow: 3px 4px 8px 6px rgba(4, 5, 75, 0.2), 0 6px 20px 0 rgba(49, 23, 23, 0.19);
	color: white;
	text-align: center;
	font-size: large;
	overflow-y: auto;
	
}
#cards2::-webkit-scrollbar {
	overflow-y: auto;
  }
#search1{
	margin-left: 3%;
	width: 170px;
	margin-top: 2%;
	border-radius: 20px;
	color: black;
	text-align: center;
}

#search2{
	margin-left: 3%;
	width: 170px;
	border-radius: 20px;
	color: black;
	text-align: center;
}

#group_lastScan{
	margin-right: 3%;
	border-top: 2px solid black;
	
	
}


  #group_Names{
	  color: white;
  }
  
  

  @media screen and (max-width: 550px) {
	#cards2 {
	  margin-top: 10%;
	  margin-left: 20%;
	  
	}

	
	.groupHeader{
		margin-top: 20%;
	}
	#search2{
		top: 25%;
	}
	
  }
  @media screen and (max-width: 420px) {
	#searchesGroup{
		width: auto;
	}
	
  }
  @media screen and (max-width: 400px) {
	#cards2 {
		margin-top: 5%;
		margin-left: 17%;
	  }
	
  }
  @media screen and (max-width: 630px) {
	
	#cards2 {
		align-items: center;
		
	  }
	  
	
	.groupHeader{
		margin-top: 2%;
		margin-right: 5%;
		.d-flex{
			width: 200px;
		}
	}
	
  }
  @media screen and (max-width: 760px) {
	
	#cards2 {
		align-items: center;	
	  }
	 
	.groupHeader{
		margin-top: 2%;
		margin-right: 5%;
	}
	
  }
 



