#bgColor{
    background: url("./pictures/white.jpg");
}
.title{
    color: black;
    text-align: center;
    margin-bottom: 5%;
    font-size: 20px;
    font-weight: bold;

}
#pieChart{
    background-color: white;
    margin-top: 2%;
    margin-left: 2%;
    box-shadow: 10px 10px 10px 8px #888888;
    width: 450px;
    height: 300px;
}

